@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
	@apply bg-primary-very-light-red;
}

::-webkit-scrollbar-thumb {
	@apply bg-primary-light-red;
	border-radius: 10px;
}

.bg-pattern {
	background-image: url('./images/bg-pattern-intro-desktop.svg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 35% center;
	resize: both;
	/* background-blend-mode: soft-light; */
}

/* Header */

.header-section {
	@apply w-full bg-pattern text-white px-12 lg:px-48;
}

.header-background {
	@apply bg-gradient-to-r from-gradient-very-light-red to-gradient-light-red;
	border-bottom-left-radius: 100px;
	overflow: hidden;
}